* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p {
  font-size: 18px;
}

.header {
  background-image: url('bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 535px;
  text-align: center;
  color: white;
  padding: 50px;
}

.header-text {
  display: flex;
  flex-direction: column;
  background-color: #000000a8;
  border-radius: 10px;
  max-width: 700px;
  margin: 7rem auto;
  padding: 10px;
}

.header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h2 {
  font-size: 30px;
  margin-bottom: 1.5rem;
}

.header p {
  font-size: 20px;
  max-width: 650px;
  margin: 1rem auto;
}

.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: #a1a1a1;
  margin: auto;
  padding: 70px;
  background-color: #1e1e1e;
}

.experience h1 {
  margin-right: 75%;
  font-size: 3.5rem;
  margin-bottom: 3rem;
}

h1 {
  font-size: 45px;
}

a {
  color: #daa520;
  text-decoration: none;
}

.side-video-description, .bottom-video-description {
  text-align: start;
  padding: 30px;
  max-width: 700px;
}

.project-info {
  margin-top: 2rem;
}

span {
  font-weight: bold;
}

.side-video-description h2 {
  margin-bottom: 2rem;
}

.bottom-video-description h4 {
  margin-top: 1rem;
}

li {
  margin-left: 3rem;
}

li:last-child {
  margin-bottom: 10px;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  width: 100%;
  position: fixed;
  background-color: #2d2d2d;
  z-index: 2;
}

.navbar a {
  background-color: #4e5353;
  border-radius: 10px;
  padding: 8px;
  margin: 10px 0;
}

.navbar a:hover {
  background-color: #7c5706;
}

.navbar a, .navbar p {
  float: inline-start;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
}

.video-info {
  margin: 20px;
  text-align: center;
}

.video-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-picture, video {
  width: 60vh;
  border-radius: 10px;
}

.info {
  display: flex;
  justify-content: space-evenly;
  background-color: #1e1e1e;
  color: #a1a1a1;
  padding: 100px 0 70px;
}

.info h1 {
  margin-bottom: 2rem;
}

.skills-info, .software-info {
  margin-bottom: 1.5rem;
}

.about {
  background-color: #000000d2;
  color: #a1a1a1;
  padding: 50px;
}

.about h1 {
  margin: 0 200px 30px;
}

.profile-picture {
  float: left;
  margin: 0 10px 5px 200px;
}

.profile-picture img {
  width: 315px;
  height: auto;
}

.about-description {
  max-width: 80%;
  margin: 0 200px;
}

.about-description p {
  padding-bottom: 1.5rem;
}

.contact-info {
  padding-top: 2rem;
}

.contact-info p {
  margin-left: 205px;
  padding-bottom: .5rem;
}

/*  Slideshow */

.slideshow h1 {
  text-align: center;
  margin: 100px 0 40px;
}

.mySlides img {
  width: 900px;
  height: 500px;
  border-radius: 10px;
  animation: fadein 1s;
}

.w3-display-container {
  position: relative
}

.w3-button:hover {
  color: #ffffff;
  opacity: 1;
}

.w3-button {
  border: none;
  padding: 2% 16px;
  font-size: 1.5rem;
  cursor: pointer;
  color: ghostwhite;
  opacity: .5;
}

.w3-display-left {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 99%;
  filter: blur(1px) contrast(50%);
  background: #000000b7;
  transition: all .1s;
  border-radius: 10px 0 0 10px;
}

.w3-display-right {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 99%;
  filter: blur(1px) contrast(50%);
  background: #000000b7;
  transition: all .1s;
  border-radius: 0 10px 10px 0;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
